/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Шапка сайта */
header {
    background-color: #333;
}

    header nav a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
    }

        header nav a:hover {
            color: #ffd700;
        }

/* Раздел "Обо мне" */
#about img {
    width: 150px;
    border-radius: 50%;
}

/* Разделы */
section {
    padding: 30px 0;
}

h2 {
    font-size: 2rem;
}

/* Раздел "Интересы" и "Навыки" */
ul {
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
}

li {
    margin: 10px 0;
}

/* Раздел "Контакты" */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

    footer a {
        color: #ffd700;
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
        }
